<div id="mySidenav" class="sidenav">

<a href="javascript:void(0)" style="background: #111;" class="closebtn" onclick="closeNav()">&times;</a>      
    <ul class="mainmenu">
        <li><a href="">Home</a></li>
        <li><a href="">Spa
            <span class="pull-right"><i class="fa fa-caret-down" style="font-size:24px"></i>
            </span></a>
            <ul class="submenu">
              <li><a [routerLink]="['/addspa']">Add Spa</a></li>
              <li><a [routerLink] = "['/viewspa']">View Spa</a></li>
            </ul>
          </li>
        <li><a href="">Customers
            <span class="pull-right"><i class="fa fa-caret-down" style="font-size:24px"></i>
            </span></a>
          <ul class="submenu">
            <li><a [routerLink] = "['/addcustomer']">Add Customers</a></li>
            <li><a [routerLink] = "['/viewcustomer']">View Customers</a></li>
          </ul>
        </li>
        <li><a [routerLink] = "['/addappointment']">Appointment</a></li>
        <li><a href="">Therapists
            <span class="pull-right"><i class="fa fa-caret-down" style="font-size:24px"></i>
            </span></a>
            <ul class="submenu">
              <li><a [routerLink] = "['/addtherapist']">Add Therapist</a></li>
              <li><a [routerLink] = "['/viewtherapist']">View Therapist</a></li>
            </ul>
          </li>
          <li><a href="">Treatments
              <span class="pull-right"><i class="fa fa-caret-down" style="font-size:24px"></i>
              </span></a>
              <ul class="submenu">
                <li><a [routerLink] = "['/addtreatment']">Add Treatments</a></li>
                <li><a [routerLink] = "['/viewtreatment']">View Treatments</a></li>
              </ul>
            </li>
            <li><a href="">Tax
              <span class="pull-right">
                <i class="fa fa-caret-down" style="font-size:24px"></i>
              </span></a>
                <ul class="submenu">
                  <li><a [routerLink]="['/addtax']">Add Tax</a></li>
                  <li><a [routerLink] = "['/viewtax']">View Tax</a></li>
                </ul>
              </li>
      </ul>

  </div>
  <span style="font-size:35px;cursor:pointer;padding:1em;" onclick="openNav()">&#9776;</span>
<div class="container">
    <div class="panel" style="margin-top:6em;background:var(--opaccolor);">
      <div class="panel-heading" style="background:var(--headercolor);">
        <h4>Add Tax</h4>
      </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6">
              <label>Tax Type</label>
              <input type="text" placeholder="Tax Type" class="form-control" [(ngModel)]="taxtype">
              <label>Tax Percent</label>
              <input type="text" placeholder="Tax Percent" class="form-control" [(ngModel)]="taxpercent">
              <label>Tax Description</label>
              <input type="text" placeholder="Tax Description" class="form-control" [(ngModel)]="taxdescription">
            </div>
          </div>
          <br/>

          <div class="pull-right">
            <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
          </div>
        </div>
       </div>
     </div>
