<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 login">
      <h1 style="text-align:center;">Samyaa SPA</h1>
      <label>Username</label>
      <br>
      <input type="text" placeholder="username" class="form-control" [(ngModel)]="username">
      <label>Password</label>
      <br>
      <input type="text" placeholder="password" class="form-control" [(ngModel)]="usersecret">
      <br>
      <button (click)="login()" class="btn-sm form-control btn_lgn">
        submit
      </button>
      <br><br>
    </div>
  </div>
</div>
